@using Winner.YXH.DataMonitorSystem.Entities;
@model DataMonitorSystem.Models.VAdminModel
<div class="box">
    <form id="_form" method="post" class="m_top">
        <div class="box">
            <div class="row m_top" style="display:none">
                <div class="span1 text_right">
                    编号：
                </div>
                <div class="span2">
                    <input id="Id" name="Id" type="text" style="width: 200px;" class="input" readonly="readonly" />
                </div>
            </div>
            <div class="row m_top">
                <div class="span1 text_right">
                    SQL语句：
                </div>
                <div class="span2">
                    <select id="InfoId" name="InfoId" class="input easyui-combobox" style="width: 200px;"></select>
                </div>
            </div>
            <div class="row m_top">
                <div class="span1 text_right">
                    管理员：
                </div>
                <div class="span2">
                    <select id="NodeId" name="NodeId" class="input easyui-combobox" style="width: 200px;"></select>
                </div>
            </div>
            <div class="row m_top">
                <div class="span1 text_right">
                    休息时发送：
                </div>
                <div class="span2">
                    <select id="IsSend" name="IsSend" class="input easyui-combogrid" style="width: 200px;"></select>
                </div>
            </div>
            <div class="row m_top">
                <div class="span1 text_right">
                    发送方式：
                </div>
                <div class="span2">
                    @{
                        <input type="checkbox" id="Notify_EMail" name="NotifyEmail" value="1" checked="checked" /><span>邮件</span>

                        if ((Model.SendType & SqlSendType.短信) == SqlSendType.短信)
                        {
                            <input type="checkbox" id="Notify_SMS" name="NotifySMS" value="2" checked="checked" /><span>短信</span>
                        }
                        else
                        {
                            <input type="checkbox" id="Notify_SMS" name="NotifySMS" value="2" /><span>短信</span>
                        }
                    }
                </div>
            </div>
            <div class="row m_top">
                <div class="span1 text_right">
                    邮箱：
                </div>
                <div class="span2">
                    <input id="Email" name="Email" class="input" style="width: 192px;" />
                </div>
            </div>
            <div class="row m_top">
                <div class="span1 text_right">
                    备注：
                </div>
                <div class="span2">
                    <textarea id="Remark" name="Remark" cols="20" rows="3" style="width: 200px"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            initForm();
            validateForm();
            PageHelper.Dialog.Submit(function () {
                SubmitForm();
            });
        });
        //初始化数据
        function initForm() {
            bindSQL();
            loadNodeId();
            apiEnum.bindIsSend({ value: "@Model.IsSend" });
            $("#Id").val("@Model.Id");
            $("#InfoId").combobox('setValue', '@Model.InfoId');
            $("#NodeId").combobox('setValue', '@Model.NodeId');
            $('#Remark').val("@Model.Remark");
            $("#Email").val("@Model.Email");
        }
        function loadNodeId() {
            $('#NodeId').combogrid({
                panelWidth: 200,
                panelHeight: 180,
                required: true,
                idField: 'NODEID',
                mode: 'remote',
                textField: 'TEXT',
                url: '/SQL/GetNodeId/?nodeId=@Model.NodeId',
                columns: [[
                    { field: 'TEXT', title: '请选择管理员' }]]
            });
            $(".combo>input").attr("placeholder", "可输入管理员姓名 / 管理员账号 ");

        }
        //数据验证
        function validateForm() {
            $("#Email").validatebox({
                required: true,
            });
        }

        //绑定SQL语句
        function bindSQL() {
            $('#InfoId').combobox({
                url: '@Url.Content("~/Admin/SQLTitle/")',
                panelHeight: 200,
                editable: false,
                valueField: 'ID',
                textField: 'TITLE'
            });
        }
        function SubmitForm() {
            $("#_form").form("submit", {
                url: "@Url.Content("~/Admin/Update")",
                onSubmit: function () {
                    return $(this).form("validate");
                },
                success: function (result) {
                    result = eval("(" + result + ")");
                    PageHelper.Dialog.Callback(result.Content);
                    if (result.Success) {
                        PageHelper.Dialog.Close();
                    }
                    else {
                        PageHelper.Message.ShowError("错误", result.Message);
                    }
                }
            });
        }

    </script>
}
