@section styles{
    <style type="text/css">
        .btn-img-delete:hover { display: block; }
    </style>
}

<div id="cc" class="easyui-layout" data-options="fit:true">

    <div data-options="region:'west',title:'栏目分类',split:true,iconCls:'glyphicon glyphicon-th-list'" style="width:200px;">
        <ul id="TreeView" class="easyui-tree"></ul>
    </div>

    <div data-options="region:'center',title:'监听计划',split:true,iconCls:'glyphicon glyphicon-th-list'">
        <div id="grdTools_date">
            <div>
                <div class="box">
                    <div class="row m_top">
                        <div class="span1 text_right">
                            标题：
                        </div>
                        <div class="span2">
                            <input id="NodeTitle" name="NodeTitle" class="input validatebox-text" type="text" style="width: 135px;" />
                        </div>
                        @*<div class="span1 text_right">
                                系统名称：
                            </div>
                            <div class="span2">
                                <select id="FatherId" name="FatherId" class="input validatebox-text" style="width: 135px;"></select>
                            </div>*@
                        <div class="span1 text_right">
                            <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-search', plain:true" onclick="Seach();">查询</a>
                        </div>
                    </div>
                </div>

                <hr class="line" />

                <div>
                    @{
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-plus-sign',plain:true" onclick="add();">新增</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-edit',plain:true" onclick="update();">修改</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-trash',plain:true" onclick="deleteData();">删除</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-random ',plain:true" onclick="Execute();">执行</a>
                    }
                </div>
            </div>
        </div>
        <table id="dg_Store"></table>
    </div>

    <div data-options="region:'east',iconCls:'glyphicon glyphicon-random',title:'相关信息',split:true" style="width: 550px;">
        <div id="tt" class="easyui-tabs" data-options="fit:true">
            <div title="详细信息" data-options="closable:false,iconCls:'glyphicon glyphicon-list-alt'">
                <div class="box">
                    <div class="info_class">
                        <div class="icon"></div>
                        <span>监控信息</span>
                    </div>
                    <div class="row m_top">
                        <div class="span1 text_right">
                            监控名称：
                        </div>
                        <div class="span4 text_left">
                            <span data-bind="text:TITLE"></span>
                        </div>
                    </div>
                    <div class="row m_top">
                        <div class="span1 text_right">
                            栏目名称：
                        </div>
                        <div class="span4 text_left">
                            <span data-bind="text:CHANNEL_NAME"></span>
                        </div>
                    </div>
                    <div class="row m_top">
                        <div class="span1 text_right">
                            监控状态：
                        </div>
                        <div class="span4 text_left">
                            <span data-bind="text:STATE"></span>
                        </div>
                    </div>
                    <div class="row m_top">
                        <div class="span1 text_right">
                            创建者姓名：
                        </div>
                        <div class="span4 text_left">
                            <span data-bind="text:NODENAME"></span>
                        </div>
                    </div>
                    <div class="row m_top">
                        <div class="span1 text_right">
                            创建者账号：
                        </div>
                        <div class="span4 text_left">
                            <span data-bind="text:NODECODE"></span>
                        </div>
                    </div>
                    <div class="row m_top">
                        <div class="span1 text_right">
                            备注：
                        </div>
                        <div class="span4 text_left">
                            <span data-bind="text:REMARK"></span>
                        </div>
                    </div>
                    <div class="row m_top">
                        <div class="span1 text_right">
                            录入时间：
                        </div>
                        <div class="span2 text_left">
                            <span data-bind="text:CREATE_TIME"></span>
                        </div>
                    </div>
                    <div class="row m_top">
                        <div class="span1 text_right">
                            监控语句：
                        </div>
                        <div class="span5 text_left">
                            <span data-bind="text:SQL_CONTEXT"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div title="监控管理员" data-options="iconCls:'glyphicon glyphicon-user '">
                <div id="grdTools_admin">
                    @{
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-plus-sign',plain:true" onclick="addAdmin();">新增</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-edit',plain:true" onclick="updateAdmin();">修改</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-trash',plain:true" onclick="deleteAdmin();">删除</a>
                    }
                </div>
                <table id="dg_Member"> </table>
            </div>
            <div title="服务" data-options="iconCls:'glyphicon glyphicon-random'">
                <div id="grdTools_WinService">
                    @{
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-plus-sign',plain:true" onclick="addWinService();">新增</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-edit',plain:true" onclick="updateWinService();">修改</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-trash',plain:true" onclick="deleteWinService();">删除</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'glyphicon glyphicon-refresh',plain:true" onclick="restartWinService();">重启服务</a>
                    }
                </div>
                    <table id="dg_WinService"></table>
                </div>
        </div>
    </div>


</div>
@section scripts{
    <script type="text/javascript">

        var _indexApi = "@Url.Content("~/SQL/Index")";
        var _addApi = "@Url.Content("~/SQL/Add/")";
        var _memberApi = "@Url.Content("~/SQL/Member/?InfoId=")";
        var _updateApi = "@Url.Content("~/SQL/Update/?Id=")";
        var _deleteApi = "@Url.Content("~/SQL/Delete/?Id=")";
        var _Execute = "@Url.Content("~/SQL/Execute/?Id=")";

        var _addAdmin = "@Url.Content("~/Admin/Add/")";
        var _updateAdmin = "@Url.Content("~/Admin/Update/?Id=")";
        var _deleteAdmin = "@Url.Content("~/Admin/Delete/?Id=")";


        var _winServiceApi = "@Url.Content("~/SQL/WinService/?Id=")";
        var _addWinService = "@Url.Content("~/WinService/Add/?Id=")";
        var _updateWinService = "@Url.Content("~/WinService/Update/?Id=")";
        var _deleteWinService = "@Url.Content("~/WinService/Delete/?Id=")";

        var _Url_ChannelTree = "@Url.Content("~/SQL/Tree/?FatherId=")";

        var _Restart = "@Url.Content("~/SQL/RestartWinService/")";

        $(function () {
            initForm();
            validateForm();
            initDataGrid();
            initMemberDataGrid();
            initWinServiceDataGrid();
        });
        //初始化界面
        function initForm() {

            initTreeView();
            bindProvince();
        }

        //绑定系统类型
        function bindProvince() {
            $('#FatherId').combobox({
                url: '@Url.Content("~/Channel/FarthChannel/")',
                panelHeight: 200,
                editable: true,
                valueField: 'CHANNEL_ID',
                textField: 'CHANNEL_NAME'
            });
            $('#FatherId').combobox('setValue', "==请选择==");
        }



        //添加控件验证
        function validateForm() {
            //控制查询条件输入内容
            $("#NodeTitle").validatebox({
                required: false,
                validType: ["length[1,100]"]
            });
        }


        //1.定义model
        function viewModel() {
            var self = this;
            self.Data = ko.observableArray();
        }


        // 初始化树形
        function initTreeView() {
            //动态加载数据
            $("#TreeView").tree({
                url: _Url_ChannelTree,
                animate: true,
                lines: true,
                cascadeCheck: true,
                onlyLeafCheck: false,
                onClick: function (node) {
                    bindMemberDataGrid(node.id);
                },
                onSelect: function (node) {
                    $(this).tree('expand', node.target);
                },
                onBeforeExpand: function (node) {
                    $('#TreeView').tree('options').url = _Url_ChannelTree + node.id;
                }
            });
        }

        //初始化数据表
        function initDataGrid() {
            //列定义
            var columns = [[
                { field: 'selected', checkbox: true },
                { field: 'ID', title: '序列号', sortable: true },
                { field: 'TITLE', title: '名称', width: 100, sortable: true },
                { field: 'CHANNEL_ID', title: '系统id', hidden: true, sortable: true },
                { field: 'SQL_CONTEXT', title: 'sql语句', hidden: true, sortable: true },
                { field: 'CHANNEL_NAME', title: '栏目', width: 80, hidden: false, sortable: true },
                { field: 'STATE', title: '状态', width: 80, sortable: true },
                { field: 'OPERAOT_ID', title: '管理员ID', hidden: true, width: 80, sortable: true },
                { field: 'REMARK', title: '备注', hidden: true, width: 150, sortable: true },
                { field: 'CREATE_TIME', title: '录入时间', width: 150, sortable: true }
            ]];

            //表格定义
            $("#dg_Store").datagrid({
                fit: true,
                toolbar: '#grdTools_date',
                pagination: true,
                rownumbers: true,
                striped: true,
                fill: true,
                selectOnCheck: false,
                singleSelect: true,
                idField: "CREATE_TIME",
                pageSize: 50,
                pageList: [50, 100, 200],
                sortName: "CREATE_TIME",
                sortOrder: "desc",
                columns: columns,
                queryParams: getQueryParams(),
                url: _indexApi,
                rowStyler: function (index, row) {
                    switch (row.STATE) {
                        case "禁用": {
                            return "color:Red;font-style:italic;";
                        }
                        default:
                    }
                },
                onClickRow: function (index, data) {
                    bindReferencesDataGrid(data.ID);
                    bindWinServiceDataGrid(data.ID);
                    ko.applyBindings(data);
                }
            });
        }


        // 查询分类信息
        function bindChildTreeView(id) {
            if (!$("#tab_Url_Class").datagrid("options").url) {
                $("#tab_Url_Class").datagrid("options").url = _indexApi + "FatherId=" + id;
            }
            $('#tab_Url_Class').datagrid("load", getQueryParams(Id));

        }

        //初始化数据表
        function initMemberDataGrid() {
            //列定义
            var columns = [[
                { field: 'selected', checkbox: true },
                { field: 'ID', title: '序列号', sortable: true, width: 80 },
                { field: 'NODENAME', title: '管理员', sortable: true, width: 100 },
                { field: 'NODECODE', title: '手机号码', sortable: true, width: 100 },
                { field: 'SEND_TYPE', title: '发送方式', sortable: true, width: 80 },
                { field: 'CREATE_TIME', title: '录入时间', width: 150, sortable: true }
            ]];

            //表格定义
            $("#dg_Member").datagrid({
                fit: true,
                toolbar: '#grdTools_admin',
                pagination: true,
                rownumbers: true,
                striped: true,
                fill: true,
                selectOnCheck: false,
                singleSelect: true,
                idField: "CREATE_TIME",
                pageSize: 50,
                pageList: [50, 100, 200],
                sortName: "CREATE_TIME",
                sortOrder: "desc",
                columns: columns,
                rowStyler: function (index, row) { }
            });
        }

        //初始化数据表
        function initWinServiceDataGrid() {
            //列定义
            var columns = [[
                { field: 'selected', checkbox: true },
                { field: 'ID', title: '序列号', sortable: true, width: 80 },
                { field: 'CYCLE', title: '执行周期', width: 80 },
                { field: 'STATUS', title: '执行状态', sortable: true, width: 80 },
                { field: 'NEXT_RUN_TIME', title: '下次执行时间', sortable: true, width: 150 },
                { field: 'RUN_RESULT', title: '上次执行结果', sortable: true, width: 100 },
                { field: 'REAMRKS', title: '备注', sortable: true },
                { field: 'CREATE_TIME', title: '创建时间', sortable: true }
            ]];

            //表格定义
            $("#dg_WinService").datagrid({
                fit: true,
                toolbar: '#grdTools_WinService',
                pagination: true,
                rownumbers: true,
                striped: true,
                fill: true,
                selectOnCheck: false,
                singleSelect: true,
                idField: "NEXT_RUN_TIME",
                pageSize: 50,
                pageList: [50, 100, 200],
                sortName: "NEXT_RUN_TIME",
                sortOrder: "desc",
                columns: columns,
                rowStyler: function (index, row) { }
            });
        }

        //绑定数据表
        function bindWinServiceDataGrid(ID) {
            var url = _winServiceApi + ID;
            $("#dg_WinService").datagrid("options").url = url;
            $('#dg_WinService').datagrid("load");
        }

        //得到查询参数
        function getQueryParams(fatherId) {
            var params =
            {
                NodeTitle: $("#NodeTitle").val(),
                FatherId: fatherId
            };
            return params;
        }

        //绑定数据表
        function bindMemberDataGrid(id) {

            if (!$("#NodeTitle").validatebox("isValid")) {
                return false;
            }
            if (!$("#dg_Store").datagrid("options").url)
                $("#dg_Store").datagrid("options").url = _indexApi + "fatherId=" + id;
            $('#dg_Store').datagrid("load", getQueryParams(id));
        }

        //查询按钮
        function Seach() {
            var node = $('#TreeView').tree('getSelected');
            if (!$("#NodeTitle").validatebox("isValid")) {
                return false;
            }
            if (!$("#dg_Store").datagrid("options").url)
                $("#dg_Store").datagrid("options").url = _indexApi + "fatherId=" + node.id;
            $('#dg_Store').datagrid("load", getQueryParams(node.id));
        }

        //绑定数据表
        function bindReferencesDataGrid(ID) {
            var url = _memberApi + ID;
            $("#dg_Member").datagrid("options").url = url;
            $('#dg_Member').datagrid("load");
        }

        //刷新数据表
        function refreshDataGrd() {
            $("#dg_Store").datagrid("unselectAll");
            $("#dg_Store").datagrid("uncheckAll");
            $("#dg_Store").datagrid("clearChecked");
            $("#dg_Store").datagrid("clearSelections");
            $('#dg_Store').datagrid('reload');
        }

        //新增数据
        function add() {
            var node = $('#TreeView').tree('getSelected');
            if (!node) {
                PageHelper.Message.ShowError("错误", "请选择需要添加的栏目分类！");
                return;
            }
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-plus-sign",
                url: _addApi + node.id,
                title: '新增SQL语句',
                width: 1000,
                height: 700,
                callback: function (data) {
                    refreshDataGrd();
                }
            });
        }

        //编辑数据
        function update() {
            var row = $('#dg_Store').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择需要的SQL语句！");
                return;
            }
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-edit",
                url: _updateApi + row.ID,
                title: '修改SQL语句',
                width: 1000,
                height: 700,
                callback: function (data) {
                    refreshDataGrd();
                    $('#dg_Pos').datagrid("selectRecord", data);
                }
            });
        }

        //删除数据
        function deleteData() {
            var row = $('#dg_Store').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择需要的SQL语句！");
                return;
            }
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-edit",
                url: _deleteApi + row.ID,
                title: '删除SQL语句',
                width: 300,
                height: 150,
                callback: function (data) {
                    refreshDataGrd();
                    $('#dg_Pos').datagrid("selectRecord", data);
                }
            });
        }

        //执行SQL
        function Execute() {
            var row = $('#dg_Store').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择需要执行SQL的行！");
                return;
            }
            $.ajax({
                type: "post",
                async: true,
                url: _Execute + row.ID,
                dataType: "text",
                success: function (result) {
                    result = eval("(" + result + ")");
                    if (result.Result) {
                        PageHelper.Message.ShowInfo("成功", "没有监控到非法数据");
                    }
                    else {
                        PageHelper.Message.ShowError("错误", result.Message);
                    }
                }
            })
        }

        //重启服务
        function restartWinService() {
            $.ajax({
                type: "post",
                async: true,
                url: _Restart,
                dataType: "text",
                success: function (result) {
                    result = eval("(" + result + ")");
                    if (result.Success == true) {
                        PageHelper.Message.ShowInfo("成功", "服务已重新开启");
                    }
                    else {
                        PageHelper.Message.ShowError("错误", result.Message);
                    }
                }
            })
        }

        /////////////////////////////////////// Admin////////////////////////////////
        //刷新数据表
        function refreshdg_Member() {
            $("#dg_Member").datagrid("unselectAll");
            $("#dg_Member").datagrid("uncheckAll");
            $("#dg_Member").datagrid("clearChecked");
            $("#dg_Member").datagrid("clearSelections");
            $('#dg_Member').datagrid('reload');
        }
        //新增数据
        function addAdmin() {
            var row = $('#dg_Store').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择需要添加关联的SQL行！");
                return;
            }
            var row = $('#dg_Store').datagrid('getSelected');
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-plus-sign",
                url: _addAdmin + row.ID,
                title: '新增',
                width: 400,
                height: 340,
                callback: function (data) {
                    refreshdg_Member();
                }
            });
        }

        //编辑数据
        function updateAdmin() {
            var row = $('#dg_Member').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择需要修改的行！");
                return;
            }
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-edit",
                url: _updateAdmin + row.ID,
                title: '修改数据',
                width: 400,
                height: 340,
                callback: function (data) {
                    refreshdg_Member();
                    $('#dg_Pos').datagrid("selectRecord", data);
                }
            });
        }

        //删除数据
        function deleteAdmin() {
            var row = $('#dg_Member').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择需要删除的行！");
                return;
            }
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-edit",
                url: _deleteAdmin + row.ID,
                title: '删除数据',
                width: 300,
                height: 150,
                callback: function (data) {
                    refreshdg_Member();
                    $('#dg_Pos').datagrid("selectRecord", data);
                }
            });
        }
        ////////////////////////WinService////////////
        //刷新数据表
        function refreshdg_WinService() {
            $("#dg_WinService").datagrid("unselectAll");
            $("#dg_WinService").datagrid("uncheckAll");
            $("#dg_WinService").datagrid("clearChecked");
            $("#dg_WinService").datagrid("clearSelections");
            $('#dg_WinService').datagrid('reload');
        }
        //新增数据
        function addWinService() {
            var row = $('#dg_Store').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择对应的SQL行！");
                return;
            }
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-plus-sign",
                url: _addWinService + row.ID,
                title: '新增',
                width: 400,
                height: 530,
                callback: function (data) {
                    refreshdg_WinService();
                }
            });
        }

        //编辑数据
        function updateWinService() {
            var row = $('#dg_WinService').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择需要修改的行！");
                return;
            }
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-edit",
                url: _updateWinService + row.ID,
                title: '修改数据',
                width: 400,
                height: 530,
                callback: function (data) {
                    refreshdg_WinService();
                    $('#dg_WinService').datagrid("selectRecord", data);
                }
            });
        }

        //删除数据
        function deleteWinService() {
            var row = $('#dg_WinService').datagrid('getSelected');
            if (!row) {
                PageHelper.Message.ShowError("错误", "请选择需要删除的行！");
                return;
            }
            PageHelper.Dialog.Open({
                iconCls: "glyphicon glyphicon-edit",
                url: _deleteWinService + row.ID,
                title: '删除数据',
                width: 300,
                height: 150,
                callback: function (data) {
                    refreshdg_WinService();
                    $('#dg_WinService').datagrid("selectRecord", data);
                }
            });
        }


    </script>
}
